name: Anchore Container Scan
on:
  push:
    branches: [master, ]
    paths-ignore:
      - 'README.md'
      - 'charts/**'
      - 'docs/**'

jobs:
  Anchore-Build-Scan:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the code
      uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag localbuild/testimage:latest
    - name: Run the local Anchore scan action itself with GitHub Advanced Security code scanning integration enabled
      uses: anchore/scan-action@v2
      with:
        image: "localbuild/testimage:latest"
        acs-report-enable: true
    - name: Upload Anchore Scan Report
      uses: github/codeql-action/upload-sarif@v1
      with:
        sarif_file: anchore-results.sarif
        checkout_path: /home/runner/work/jwt-to-rbac