name: Docker
on:
  push:
    branches:
      - master
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
    paths-ignore:
      - 'README.md'
      - 'charts/**'
jobs:
  docker:
    name: Docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build jwt-to-rbac
        uses: docker/build-push-action@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}
          registry: ghcr.io
          repository: banzaicloud/jwt-to-rbac
          dockerfile: Dockerfile
          tag_with_ref: true
          add_git_labels: true
